body {
    background: url("/static/end_door.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}

#lose {
    background-color: transparent;
    margin-left: 42%;
    margin-top: 15%;
    background-repeat:no-repeat;
    padding:160px;
    color: transparent;
    border: transparent;
    cursor: pointer;
}
#lose:focus{
    outline: none;
}

#back {
    background-color: black;
    color: #9C1A1C;
    font-family: 'Permanent Marker', cursive;
    cursor: pointer;
    font-weight: bold;
    font-size: 200%;
    border: black;
}