body {
  background: url(door.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#music_btn{
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none
}


#btn {
  background-color: Transparent;
    margin-left: 36%;
    margin-top: 13%;
  background-repeat:no-repeat;
  padding:250px;
  color: transparent;
    border: transparent;
    cursor: pointer;
}

#btn:focus{
    outline: none;
}

#prevBtn {
    background-color: transparent;
    margin-left: 76%;
    margin-top: 15%;
    background-repeat:no-repeat;
    padding:100px;
    color: transparent;
    border: transparent;
    cursor: pointer;
}

#prevBtn:focus{
    outline: none;
}

