body {
  background: url(door.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#music_btn{
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none
}


#btn {
  background-color: Transparent;
    margin-left: 36%;
    margin-top: 13%;
  background-repeat:no-repeat;
  padding:250px;
  color: transparent;
    border: transparent;
    cursor: pointer;
}

#btn:focus{
    outline: none;
}

#nextBtn {
    background-color: transparent;
    margin-left: 76%;
    margin-top: 15%;
    background-repeat:no-repeat;
    padding:100px;
    color: transparent;
    border: transparent;
    cursor: pointer;
}

#nextBtn:focus{
    outline: none;
}

#hallwayBtn {
    background-color: transparent;
    margin-left: 45%;
    margin-top: 20%;
    background-repeat:no-repeat;
    padding:50px;
    color: transparent;
    border: transparent;
    cursor: pointer;
}

#hallwayBtn:focus{
    outline: none;
}

.box {
    background-color: black;
    position: fixed;
    margin-left: 47%;
    opacity: 0.5;
    bottom: 0;
}

#text {
    color: white;
}

#toTheEnd {
    background-color: transparent;
    margin-left: 50%;
    margin-top: 20%;
    background-repeat:no-repeat;
    padding:50px;
    color: transparent;
    border: transparent;
    cursor: pointer;
}

#toTheEnd:focus {
    outline: none;
}

#item1 {
    background-color: transparent;
    margin-left: 50%;
    margin-top: 3%;
    background-repeat: no-repeat;
    color: transparent;
    border: transparent;
    cursor: pointer;
}

#item2 {
    background-color: transparent;
    margin-left: 95%;
    background-repeat: no-repeat;
    color: transparent;
    border: transparent;
    cursor: pointer;
}

#item3 {
    background-color: transparent;
    margin-left: 57%;
    background-repeat: no-repeat;
    color: transparent;
    border: transparent;
    cursor: pointer;
}

#item4 {
    background-color: transparent;
    margin-left: 51%;
    margin-top: 8%;
    background-repeat: no-repeat;
    color: transparent;
    border: transparent;
    cursor: pointer;
}