<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>End stage</title>
    <script type="module" src="{{ url_for('static', filename='js/end_stage.js')}}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/end_stage.css')}}">
</head>
<body>
    <div id="app"></div>
    <button id="back" onclick="location.href='http://127.0.0.1:5000/'">Back to main menu</button>
</div>
</body>
</html>